{% extends "base.html" %}
{% block title %} Profile | SACH{% endblock title %}
{% block body %}
<div class="container container-fluid mt-5 p-3 pt-5 vh-100">
    <div class="card p-4 shadow">
        <h2>আপনার প্রোফাইল</h2>
        <hr>
        <p><strong>Name:</strong> {{ user_name }}</p>
        <p><strong>Phone Number/unique id:</strong> {{ user_phone }}</p>
        <p><strong>E-mail:</strong> {{ user_email }}</p>
        <p><strong>Gender:</strong> {{ user_gender }}</p>
        <p><strong>FB-profile link:</strong> {{ user_fbLink }}</p>

        
        <a href="/logout" class="btn btn-danger">লগআউট করুন</a>
    </div>
</div>
{% endblock %}